body {
  margin: 0;
  background-color: rgb(1, 1, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  height: 100%;
  color: rgb(255, 255, 255);
}

.buttonContainer {
  display: flex;
  align-items: center;
  top: 400px;
  height: 800px;
}

.startButton {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 254, 254);
  border-color: rgb(255, 255, 255);
  border-radius: 20%;
  font-size: 30px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.pomoTimer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  width: 650px;
}

.handleDecrement {
  height: 200px;
  width: 50px;
  color: antiquewhite;
  font-size: 50px;
  border: 0px;
  background-color: rgba(1, 1, 1, 0.949);
  cursor: pointer;
}
.handleIncrement {
  height: 200px;
  width: 50px;
  color: antiquewhite;
  font-size: 50px;
  border: 0px;
  background-color: rgba(1, 1, 1, 0.949);
  cursor: pointer;
}

.slider {
  color: aliceblue;
}
